{
    "endpoint": "/grpc-product-service",
    "output_encoding": "no-op",
    "backend": [
        {
            "url_pattern": "/api/grpc-product-service",
            "host": [
                "grpc:5000"
            ]
        }
    ]
},
{
    "endpoint": "/grpc-product-service/swagger-ui.css",
    "output_encoding": "no-op",
    "backend": [
        {
            "url_pattern": "/api/grpc-product-service/swagger-ui.css",
            "host": [
                "grpc:5000"
            ]
        }
    ]
},
{
    "endpoint": "/grpc-product-service/swagger-ui-bundle.js",
    "output_encoding": "no-op",
    "backend": [
        {
            "url_pattern": "/api/grpc-product-service/swagger-ui-bundle.js",
            "host": [
                "grpc:5000"
            ]
        }
    ]
},
{
    "endpoint": "/grpc-product-service/swagger-ui-standalone-preset.js",
    "output_encoding": "no-op",
    "backend": [
        {
            "url_pattern": "/api/grpc-product-service/swagger-ui-standalone-preset.js",
            "host": [
                "grpc:5000"
            ]
        }
    ]
},
{
    "endpoint": "/grpc-product-service/swagger-ui-init.js",
    "output_encoding": "no-op",
    "backend": [
        {
            "url_pattern": "/api/grpc-product-service/swagger-ui-init.js",
            "host": [
                "grpc:5000"
            ]
        }
    ]
},
{
    "endpoint": "/grpc-product-service/favicon-32x32.png",
    "output_encoding": "no-op",
    "backend": [
        {
            "url_pattern": "/api/grpc-product-service/favicon-32x32.png",
            "host": [
                "grpc:5000"
            ]
        }
    ]
},
{
    "endpoint": "/grpc-product-service/favicon-16x16.png",
    "output_encoding": "no-op",
    "backend": [
        {
            "url_pattern": "/api/grpc-product-service/favicon-16x16.png",
            "host": [
                "grpc:5000"
            ]
        }
    ]
},
{
    "endpoint": "/products",
    "method": "POST",
    "backend": [
        {
            "url_pattern": "/products",
            "host": [
                "grpc:5000"
            ],
            "method": "POST",
            "extra_config": {
                "backend/http": {
                    "return_error_code": true
                }
            }
        }
    ]
},
{
    "endpoint": "/products",
    "method": "GET",
    "backend": [
        {
            "url_pattern": "/products",
            "host": [
                "grpc:5000"
            ],
            "method": "GET",
            "extra_config": {
                "backend/http": {
                    "return_error_code": true
                }
            }
        }
    ]
},
{
    "endpoint": "/products/{id}",
    "method": "GET",
    "backend": [
        {
            "url_pattern": "/products/{id}",
            "host": [
                "grpc:5000"
            ],
            "method": "GET",
            "extra_config": {
                "backend/http": {
                    "return_error_code": true
                }
            }
        }
    ]
},
{
    "endpoint": "/products/{id}",
    "method": "PATCH",
    "backend": [
        {
            "url_pattern": "/products/{id}",
            "host": [
                "grpc:5000"
            ],
            "method": "PATCH",
            "extra_config": {
                "backend/http": {
                    "return_error_code": true
                }
            }
        }
    ]
},
{
    "endpoint": "/products/{id}",
    "method": "DELETE",
    "backend": [
        {
            "url_pattern": "/products/{id}",
            "host": [
                "grpc:5000"
            ],
            "method": "DELETE",
            "extra_config": {
                "backend/http": {
                    "return_error_code": true
                }
            }
        }
    ]
}